[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
pypdf = "*"
pytest-mock = "*"
langchain = "*"
langgraph = "*"
langchain-text-splitters = "*"
langchain-openai = "*"
langchain-chroma = "*"
openai = "*"
python-dotenv = "*"
pathlib = "*"
restrictedpython = "*"
gradio = "*"

[dev-packages]

[requires]
python_version = "3.10"
